.icon-button {
  display: flex;
  height: 48px;
  width: 48px;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-3);
  border-radius: var(--radius-full);

  &:not(.icon-button--filled):is(:hover, :active:hover) {
    box-shadow: inset 0 0 0 1px var(--neutral-900);
  }

  &:not(.icon-button--filled):active {
    background-color: var(--neutral-200);
  }

  &:focus-visible {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--primary-500);
  }
}

.icon-button--border {
  box-shadow: inset 0 0 0 1px var(--neutral-500);
}

.icon-button--filled {
  background-color: var(--neutral-900);
  color: var(--neutral-100);
}

@media (prefers-reduced-motion: no-preference) {
  .icon-button--pending {
    --hue: 255;
    --size: 48px;
    --border: 1px;
    --speed: 1s;
    --width: 1px;
    --height: 1px;
    position: relative;

    &:hover {
      box-shadow: none;
    }
  }

  .icon-button--pending::before {
    --y: calc((var(--size) * -0.5) + (var(--border) * 0.5));
    content: '';

    width: var(--width);
    height: var(--height);
    background-color: #000;
    transform: rotate(0deg) translateY(var(--y));
    animation: spin var(--speed) infinite linear;
  }

  .icon-button--pending::after {
    content: '';
    width: var(--size);
    aspect-ratio: 1;
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% 0;
    transform: rotate(0deg);
    background: conic-gradient(#000, hsl(var(--hue), 0%, 0%), transparent 100%);
    border-radius: 50%;
    mask: radial-gradient(
      transparent calc(((var(--size) * 0.5) - var(--border))),
      white calc((var(--size) * 0.5) - var(--border) - 1px)
    );
    animation: rotate var(--speed) infinite linear;
  }

  @keyframes spin {
    to {
      transform: rotate(-360deg) translateY(var(--y));
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(-360deg);
    }
  }
}
